# Database
DB_TYPE=mysql
DB_CONNECTION=mysql
DB_HOST=/run/mysqld/mysqld.sock
DB_PORT=3306
DB_USERNAME=city2city_user
DB_PASSWORD=
DB_DATABASE=city2city

# App
TYPE=production
ENABLE_SWAGGER=false

# Email (Nodemailer)
EMAIL_USER=
EMAIL_PASSWORD=
RECIPIENT_EMAIL=

# Yandex GPT (for attractions)
YANDEX_OAUTH_TOKEN=
YANDEX_FOLDER_ID=
